# Tex stuff
*.log
*.pdf
*.gz
*.aux
*.bbl
*.blg
*.dvi
*.out
*.brf
*count.txt

# Python
*.pyc
*.py~
*.ipynb_checkpoints/

# Articles
#.pdf
*et al*

# Git stuff
*.gitattributes
*.*~

# Matlab
*.mat

# R stuff
*concordance*
*.Rhistory
*.sty

# Other
*.rtf
*.wav
Stimulus_delivery/log/*
*.jpg
*.JPG
*.png*
*.csv*

.idea

*wav*
*settings.jar*

Analysis_results/*s

