# Tex stuff
*.log
*.pdf
*.gz
*.aux
*.bbl
*.blg
*.dvi
*.out
*.brf

# Python and other programming stuff
*.Rhistory
*et al.*
*.gitattributes
*.mat
*.pyc
*.py~
*.ipynb_checkpoints/
*.*~
*count.txt
*concordance*
*.rtf
*/figure/*
*.sty
